@{
    ViewBag.Title = "Venue";
}

<h2 id="venue-name">Venue</h2>


<div class="row" id="img-container">
@*    <div class="span3 col-md-3 col-lg-3">
        <img src="http://distilleryimage4.s3.amazonaws.com/790a368218b711e392b622000a1fb73b_7.jpg" class="img-responsive" />
    </div>
    <div class="span3 col-md-3 col-lg-3">        
        <img src="http://distilleryimage9.s3.amazonaws.com/e1d602fc18b411e3896522000a1fb320_7.jpg" class="img-responsive" />
    </div>
    <div class="span3 col-md-3 col-lg-3">        
        <img src="http://distilleryimage1.s3.amazonaws.com/0b1a576e18b311e3800922000a9e5110_7.jpg" class="img-responsive" />
    </div>
    <div class="span3 col-md-3 col-lg-3">        
        <img src="http://distilleryimage10.s3.amazonaws.com/cf96e6ba18aa11e3bf5322000a9f38c3_7.jpg" class="img-responsive" />
    </div>*@
</div>

<script id="img_temp" type="text/html">
    <div class="span3 col-md-3 col-lg-3">
        <img src="{{ images.standard_resolution.url }}" class="img-responsive" alt="{{ caption.text }}" />
    </div>
</script>

@section scripts {
    <script type="text/javascript">
        var venue_id = '@ViewBag.venue_id';
    </script>
    <script src="~/Content/js/instagram-venue.js"></script>
}