@{
    ViewBag.Title = "Le Secret Venue";
}

<div class="input-append">
    <input id="near" class="span2" type="text" placeholder="90401 or los angeles, ca" />
    <button id="btn-search" class="btn" type="button">Search</button>
</div>

<div class="container">
    <table class="table table-stripped table-hover tablesorter" id="data-table">
        <thead>
            <tr>
                <th>name</th>
                <th>address</th>
                <th>score</th>
                <th># of reviews</th>
                <th># of checkins</th>
            </tr>
        </thead>
        <tbody id="data-table-body">
            <tr>
                <td>the varnish</td>
                <td>downtown los angeles</td>
                <td>8.9</td>
                <td>231</td>
                <td>112</td>
            </tr>
            <tr>
                <td>copa cabana</td>
                <td>venice beach</td>
                <td>8.1</td>
                <td>101</td>
                <td>72</td>
            </tr>
            <tr>
                <td>the tripel</td>
                <td>playa del rey</td>
                <td>9.4</td>
                <td>731</td>
                <td>1120</td>
            </tr>
        </tbody>
    </table>
</div>
